// COLOR VARIABLES
$color-brown-dark-1: #1d1e20;
$color-brown-dark-2: #1B1D20;
$color-grey-dark: #777879;
$color-grey: #a4a5a6;
$color-grey-light: #F5F5F5;
$color-green-dark: #73ab84;
$color-green-light: #99d19c;
$color-blue: #1574d4;
$color-blue-dark: #1574d6;
$color-blue-light: #148aff;

// FONT VARIABLES
$font-primary: "Montserrat", "Arial", sans-serif;

//FONT WEIGHT
$fontWeight-large: 700;
$fontWeight-medium: 400;
