.hero {
    padding: 12rem 0;
    overflow: hidden;
    background-color: $color-brown-dark-1;

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        position: absolute;
        top: 20rem;
        z-index: 1;

        @include media(tab-land) {
            top: 10rem;
        }

    }

    &__logo {
        height: 8rem;
        width: 28rem;
        margin: 0 auto;

        @include media(tab-land) {
            width: 23rem;
        }
    }

    &__title {
        padding-top: 3.4rem;
        max-width: 50rem;
        margin: 0 auto;
        text-align: center;
        line-height: 6.5rem;

        h1 {
            @include media(tab-land) {
                font-size: 4.2rem;
            }
        }
        @include media(tab-land) {
            max-width: 100%;
            padding-top: 1rem;
        }
        @include media(phone){
            &--secondary{
                display: block;
            }
        }
    }

    &__images {
        display: flex;

        @include media(phone) {
            flex-direction: column;
        }
    }

    &__item {
        width: 50%;

        &__text {
            position: relative;
            z-index: 1;
            display: block;
            margin-top: -13rem;

            &--1 {
                margin-left: 30%;
            }

            &--2 {
                margin-left: 35%;
            }

            @include media(tab-land) {
                margin: 0;
                text-align: center;
            }
        }

        @include media(phone) {
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        z-index: 0;
        display: block;
        &--1 {
            transform: translateX(-24rem) translateY(-2rem);
        }

        &--2 {
            transform: translateX(24rem) translateY(-2rem);
        }

        @include media(tab-land) {
            transform: none;
            margin: 0 auto;
            margin-top: 13rem;
            width: 86%;
        }

        @include media(phone) {
            width: 100%;
            transform: none;
            margin-top: 18rem;
            width: 80%;
        }
    }
}